@model TestResultsModel
@{
    ViewBag.Title = Model.Test.Name;
    Layout = "_Layout";
}

<hr />
<h4 class="text-center">@ViewBag.Title</h4>
<hr />
@if (Model.Results.Count == 0 || Model.Results == null)
{
    <div class="alert alert-warning" role="alert">
        Тест пока ещё никто не прошёл
    </div>
}
else
{
    <form asp-controller="Test" asp-action="Results" method="get">
            <div class="form-actions no-color">
                <p>
                    ID пользователя: <input class="form-control" style="width:auto; display:inline" type="number" name="searchId" value="@ViewData["searchId"]" />
                    <input type="submit" value="Search" class="btn btn-default" />
                </p>
            </div>
    </form>
    <dt>
        @Html.DisplayNameFor(model => model)
    </dt>
    <dd style="margin-top:1rem;">
        <table class="table item-table" id="results">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата</th>
                <th>Результат</th>
                <th>ID прохождения</th>
            </tr>
            @foreach (var item in Model.Results)
            {
               
                    <tr>
                        <td>
                            @item.CompletedByUserId
                        </td>
                        <td>
                            @item.CompletedByUser.UserName
                        </td>
                        <td>
                            @item.CompletedOn
                        </td>
                        <td>
                            @(item.RightAnswersCount * 100 / item.TotalQuestions)%
                        </td>
                        <td>
                            @item.Id |
                            <a href="@Url.Action("AnswerResults", "Answer", new {testResultId = item.Id, answerId = item.Answers.SingleOrDefault(a => a.Order == 1).Id })">
                                 Ответы пользователя
                            </a>
                        </td>
                    </tr>
                
            }
        </table>
    </dd>
}