@using WebApplication3.Models;
@model TestResult

@{
    ViewBag.Title = "Начать тест";
    Layout = "_Layout";
    //TODO: поправить дизайн
}
<div class="container">
    <hr />
    <h4 class="text-center">@ViewBag.Title</h4>
    <hr/>
    <p>Название теста: @Model.Test.Name</p>
    <p>Вопросов: @ViewBag.QuestionsCount</p>
    @if (ViewBag.IsStarted)
    {
            <a class="btn btn-primary" role="button"
               href="@Url.Action("Answer", "Answer", new {testResultId = Model.Id, answerOrder = 1})">
                Продолжить
            </a>
    }
    else
    {
        <form asp-controller="Test" asp-action="Start" asp-route-testResultId="@Model.Id" class="form" role="form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-success">Начать</button>
        </form>
    }
</div>
