@using Microsoft.EntityFrameworkCore
@model System.Collections.Generic.List<WebApplication3.Models.Test>

@{
    ViewBag.Title = "Тесты";
    Layout = "_Layout";
}

<h2>title</h2>
@if (Model == null)
{
    <div class="alert alert-warning" role="alert">
        Вы пока еще не создали тестов
    </div>
}
else
{
    <dt>
        @Html.DisplayNameFor(model => model)
    </dt>
    <dd>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Включен?</th>
                <th>Создан</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @if (item.IsEnabled)
                        {
                            <span class="badge badge-success">Да</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Нет</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
                    </td>
                </tr>
            }
        </table>
    </dd>
}
<a asp-controller="Test" asp-action="Add" method="get"><button class="btn btn-info">Добавить тест</button></a>
<a asp-controller="Test" asp-action="AddFromFile" method="get"><button class="btn btn-info">Добавить тест из файла</button></a>