@using WebApplication3.Models;
@model TestResult

@{
    ViewBag.Title = "Результаты";
    Layout = "_Layout";
    //TODO: поправить дизайн
}
    <div class="container">
        <hr />
        <h4 class="text-center">@ViewBag.Title</h4>
        <hr />
        <p>Название теста: @Model.Test.Name</p>
        <p>Вопросов: @Model.TotalQuestions</p>
        @if (Model.IsCompleted)
        {
            <p>Процент выполнения: @(Model.RightAnswersCount * 100 / Model.TotalQuestions)%</p>
            <a class="btn btn-primary" role="button"
               href="@Url.Action("AnswerResults", "Answer", new { testResultId = Model.Id, answerId = ViewBag.AnswerId })">
                Просмотреть
            </a>
        }
    </div>
