@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/glyphicons.css"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">

            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Test App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
                        <a class="nav-link"
                           asp-area="" asp-controller="Home" asp-action="Index">Домой</a>
                    </li>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "TestResults" ? "active" : "")">
                            <a class="nav-link"
                               asp-area="" asp-controller="Test" asp-action="TestResults">Прохождение тестов</a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Tests" ? "active" : "")">
                            <a class="nav-link" asp-controller="Test" asp-action="Tests">Создание тестов</a>
                        </li>
                    }
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Test App</p>
        </footer>
    </div>


        <script src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
