@model DragAndDropAnswer

<form method="post">
    <div>
        <b>Текст вопроса:</b>
        <div>
            <div class="form-group clearfix contentwrapper">
                <div class="form-control unselectable" style="height: auto" readonly>@Model.Question.Title</div>
            </div>
        </div>
        @if (Model.TestResult.IsCompleted)
        {
            <h5>Балл: @Model.Score/@Model.Question.Score</h5>
        }
    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="items card" style="margin-bottom: 0;">
            <table class="table table-borderless" style="margin-bottom: 0;">
                <tbody id="item-table__body">
                    @{
                        if (Model.DragAndDropAnswerOptions.Count != 0)
                        {
                            var dndOptions = Model.DragAndDropAnswerOptions.OrderBy(o => o.ChosenOrder).ToList();
                            if (Model.TestResult.IsCompleted)
                            {

                                foreach (var option in dndOptions)
                                {
                                    <tr class="item-table__row @(!Model.TestResult.Test.HideRightAnswers ? option.Option.Id == option.RightOption.Id ? "bg-success text-white" : "bg-danger text-white" : "")">
                                        <td class="drag-handler"></td>
                                        <td class="item-table__cell">
                                            <label name="option" option-id="@Model.Question.Options.Single(o => o.Id == option.Option.Id).Id"
                                                   class="form-check-label @(!Model.TestResult.Test.HideRightAnswers ? "text-white" : "") unselectable">
                                                @Model.Question.Options.Single(o => o.Id == option.Option.Id).Text
                                            </label>
                                        </td>
                                        @if (!Model.TestResult.Test.HideRightAnswers)
                                        {
                                            <td class="item-table__cell" style="text-align: right;">

                                                <span class="text-white unselectable">
                                                    @(dndOptions.Single(o => o.RightOption.Text == option.Option.Text).ChosenOrder)
                                                </span>
                                            </td>
                                        }

                                    </tr>
                                }
                            }
                            else
                            {
                                foreach (var option in dndOptions)
                                {
                                    <tr class="item-table__row">
                                        <td class="drag-handler"></td>
                                        <td class="item-table__cell">
                                            <label name="option" class="form-check-label unselectable" option-id="@Model.Question.Options.Single(o => o.Id == option.Option.Id).Id">
                                                @(Model.Question.Options.Single(o => o.Id == option.Option.Id).Text)
                                            </label>
                                        </td>
                                    </tr>

                                }
                            }

                        }
                        else
                        {
                            foreach (var option in Model.Question.Options)
                            {
                                <tr class="item-table__row">
                                    <td class="drag-handler"></td>
                                    <td class="item-table__cell">
                                        <label name="option" class="form-check-label unselectable" option-id="@option.Id">
                                            @(option.Text)
                                        </label>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</form>
@if (!Model.TestResult.IsCompleted)
{
    <script>
        $(function () {
            new Sortable(
                $('#item-table__body')[0], {
                    animation: 150,
                    scroll: true,
                    handle: '.drag-handler',
                }
            );
            //console.log($('#item-table__body')[0]);
        });
    </script>
}