@using System.Net.Mime
@model TextAnswer
@{
    var Question = Model.Question as TextQuestion;
    if (String.IsNullOrWhiteSpace(Model.Text))
    {
        Model.Text = "";
    }
}
<form method="post">
    <div>
        <b>Текст вопроса:</b>
        <div>
            <div class="form-group clearfix contentwrapper">
                <div class="form-control unselectable" style="height: auto" readonly>@Model.Question.Title</div>
            </div>
        </div>
        @if (Model.TestResult.IsCompleted)
        {
            <h5>Балл: @Model.Score/@Model.Question.Score</h5>
        }

    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="items" style="margin-bottom: 0;">
            <table class="table table-borderless" style="padding: 0; margin: 0;">
                <tbody id="item-table__body">
                    <tr class="item-table__row">
                        @if (Model.TestResult.IsCompleted)
                        {
                            if (Model.Text.ToLower() == Question.TextRightAnswer.ToLower())
                            {
                                <td class="item-table__cell" style="padding: 0; margin: 0;">
                                    <textarea name="option" id="Text" class="form-control item__text-field @(!Model.TestResult.Test.HideRightAnswers ? "bg-success text-white" : "")"
                                              value="@((Model.Text != null && Model.Text != "") ? Model.Text : "")"
                                              placeholder="Ответ">@Model.Text</textarea>
                                </td>
                            }
                            else
                            {
                                if (!Model.TestResult.Test.HideRightAnswers)
                                {
                                    <td class="item-table__cell" style="padding-left: 0; margin-left: 0;">
                                        Ваш ответ:
                                        <textarea name="option" id="Text" class="form-control item__text-field @(!Model.TestResult.Test.HideRightAnswers ? "bg-danger text-white" : "")"
                                                  value="@((Model.Text != null && Model.Text != "") ? Model.Text : "")"
                                                  placeholder="Ответ">@Model.Text</textarea>
                                    </td>
                                    <td class="item-table__cell" style="padding-right: 0; margin-right: 0;">
                                        Верный ответ:
                                        <textarea name="option" id="Text" class="form-control item__text-field text-success"
                                                  value="@(
    !string.IsNullOrEmpty(Question.TextRightAnswer)
        ? Question.TextRightAnswer : "" )"
                                                  placeholder="Ответ">@Question.TextRightAnswer</textarea>
                                    </td>
                                }
                                else
                                {
                                    <td class="item-table__cell" style="padding: 0; margin: 0;">
                                        Ваш ответ:
                                        <textarea name="option" id="Text" class="form-control item__text-field @(!Model.TestResult.Test.HideRightAnswers ? "bg-danger text-white" : "")"
                                                  value="@((Model.Text != null && Model.Text != "") ? Model.Text : "")"
                                                  placeholder="Ответ">@Model.Text</textarea>
                                    </td>
                                }

                            }
                        }
                        else
                        {
                            <td class="item-table__cell" style="padding: 0; margin: 0;">
                                <textarea name="option" id="Text" class="form-control item__text-field" value="@((Model.Text != null && Model.Text != "") ? Model.Text : "")" placeholder="Ответ">@Model.Text</textarea>

                            </td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>