@model DragAndDropAnswer

<form method="post">
    <div>
        <h5 style="margin-top: 1rem;">@Model.Question.Title</h5>
    </div>
    <input type="hidden" value="@Model.Id">
    <fieldset class="form-group row" id="options">
        <div class="items card" style="margin-bottom: 0;">
            <table class="table table-borderless" style="margin-bottom: 0;">
                <tbody id="item-table__body">
                    @{
                        if (Model.DragAndDropAnswerOptions.Count != 0)
                        {
                            var dndOptions = Model.DragAndDropAnswerOptions.OrderBy(o => o.ChosenOrder).ToList();
                            foreach (var option in dndOptions)
                            {
                                <tr class="item-table__row">
                                    <td class="drag-handler"></td>
                                    <td class="item-table__cell">
                                        <label name="option" class="form-check-label" option-id="@Model.Question.Options.Single(o => o.Id == option.OptionId).Id">
                                            @(Model.Question.Options.Single(o => o.Id == option.OptionId).Text)
                                        </label>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var option in Model.Question.Options)
                            {
                                <tr class="item-table__row">
                                    <td class="drag-handler"></td>
                                    <td class="item-table__cell">
                                        <label name="option" class="form-check-label" option-id="@option.Id">
                                            @(option.Text)
                                        </label>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </fieldset>
</form>
<script>
    $(function () {
        new Sortable(
            $('#item-table__body')[0], {
                animation: 150,
                scroll: true,
                handle: '.drag-handler',
            }
        );
        console.log($('#item-table__body')[0]);
    });
</script>