@model ICollection<Answer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}
<fieldset disabled>
    <div id="formDiv" class="container">


    </div>
</fieldset>
<nav class="table-responsive container" aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled prev-btn">
            <span class="page-link unselectable">Пред</span>
        </li>
        @foreach (var a in Model)
        {
            <li class="page-item num-btn" btn-order="@a.Order" btn-id="@a.Id" answer-type="@a.AnswerType">
                <a class="page-link unselectable">@a.Order</a>
            </li>
        }
        <li class="page-item next-btn">
            <span class="page-link unselectable">След</span>
        </li>
    </ul>
</nav>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_CodeScriptsPartial"); }
    <script src="~/lib/Sortable/Sortable.js"></script>
    <script  type="text/javascript">
        var firstId = $("nav ul").children().filter(".num-btn")[0].getAttribute("btn-id");
        var firstOrder = $("nav ul").children().filter(".num-btn")[0].getAttribute("btn-order");
        var lastOrder = $("nav ul").children().filter(".num-btn")[$("nav ul").children().filter(".num-btn").length - 1].getAttribute("btn-order");

        var id = @ViewContext.RouteData.Values["answerId"];
        $("li[btn-id=" + id + "]").addClass("active");

        var activeOrder = getActiveAnswerOrder();

        if (activeOrder == firstOrder)
            $(".prev-btn").addClass("disabled");
        else
            $(".prev-btn").removeClass("disabled");
        if (activeOrder == lastOrder)
            $(".next-btn").addClass("disabled");
        else
            $(".next-btn").removeClass("disabled");

        loadAnswer();

        $("nav ul").on("click", function (e) {
            //submitAnswer();
            switchAnswer(e);
            loadAnswer();
        });

        $(document).keydown(disableArrowKeys);

        document.onkeyup =
            function(e) {
                if (e.keyCode == 37) {
                    if (!$(".prev-btn").hasClass("disabled")) {
                        var tmp = getActiveAnswerOrder() - 1;
                        $(".active").removeClass("active");
                        $("li[btn-order=" + tmp + "]").addClass("active");
                        var activeOrder = getActiveAnswerOrder();
                        if (activeOrder == firstOrder)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (activeOrder == lastOrder)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                        loadAnswer();
                    }
                }
                else if (e.keyCode == 39) {
                    if (!$(".next-btn").hasClass("disabled")) {
                        var tmp = getActiveAnswerOrder() - -1;
                        $(".active").removeClass("active");
                        $("li[btn-order=" + tmp + "]").addClass("active");
                        var activeOrder = getActiveAnswerOrder();
                        if (activeOrder == firstOrder)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (activeOrder == lastOrder)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                        loadAnswer();
                    }
                }
            };
        </script>
}