@model ICollection<Answer>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        @foreach (var a in Model)
        {
            
            if (Model.First() == a)
            {
                <li class="page-item active"> 
                    <span class="page-link" id="@a.Id">
                        @a.Order
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            }
            else
            {
                <li class="page-item num-btn" id="@a.Id" answer-type="@a.AnswerType">
                    <a class="page-link">@a.Order</a>

                </li>
            }
        }
        <li class="page-item next-btn">
            <span class="page-link">Next</span>
        </li>
    </ul>
</nav>
@section Scripts
{
    <script type="text/javascript">
        function getActiveAnswerId() {
            var activeID = $($("li").filter($(".active"))[0])[0].id;
            console.log("active answer id: " +activeID);
            return activeID;
        }

        function getActiveAnswerType() {
            var activeType = $($("li").filter($(".active"))[0]).children(".page-link")[0].attr("answer-type");
            console.log("active answer type: " +activeType);
            return activeType;
        }
        
        getActiveAnswerId();
        
        $(".nav li").on("click", function() {
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        });
        
        function submitAnswer(form) {
            var id = getActiveAnswerId();
            var type = getActiveAnswerType();
            var actionUrl;
            // выбрать url и собрать data
            if (type == "SingleChoiceAnswer") {
                var data = form.serialize();
                // TODO: actionUrl = @@//Url.RouteUrl();
            }
            else if (type == "MultiChoiceAnswer") {
                
            }
            else if (type === "TextAnswer") {
                
            }
            else if (type === "DragAndDropAnswer") {

            } else throw new exception("Not valid answer type!s");
            
            // запрос
            $.ajax({
                type: "POST",
                url: actionUrl,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {
                    //window.location.href = response;
                },
                error: function(xhr, textStatus, errorThrown) {
                    //console.log(textStatus + ": Couldn't add control. " + errorThrown);
                    addFormErrors(xhr.responseJSON);

                },
            });
        }

        $("nav ul").on("click", function (e) {
            if (e.target.parentElement.classList.contains("next-btn")) {
                if (getActiveAnswerId() != $("nav ul").children().filter(".num-btn").length) {
                    var tmp = getActiveAnswerId() - -1;
                    $(".active").removeClass("active");
                    $("#" + tmp).addClass("active");
                    if (getActiveAnswerId() == 1)
                        $(".prev-btn").addClass("disabled");
                    else
                        $(".prev-btn").removeClass("disabled");
                    if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                        $(".next-btn").addClass("disabled");
                    else
                        $(".next-btn").removeClass("disabled");
                }
            }
            else
                if (e.target.parentElement.classList.contains("prev-btn")) {
                    if (getActiveAnswerId() != 1) {
                        var tmp = getActiveAnswerId() - 1;
                        $(".active").removeClass("active");
                        $("#" + tmp).addClass("active");
                        if (getActiveAnswerId() == 1)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                    }
                }
                else
                    if (e.target.parentElement.classList.contains("num-btn")) {
                        $(".active").removeClass("active");
                        $("#" + e.target.parentElement.id).addClass("active");
                        if (getActiveAnswerId() == 1)
                            $(".prev-btn").addClass("disabled");
                        else
                            $(".prev-btn").removeClass("disabled");
                        if (getActiveAnswerId() == $("nav ul").children().filter(".num-btn").length)
                            $(".next-btn").addClass("disabled");
                        else
                            $(".next-btn").removeClass("disabled");
                    }
                
        });
    </script>
}
